{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="blog">

		{{!-- <div class="blog__header">
			<button class="button">
				<img src="/svg/return.svg" alt="return" width="24px" height="24px">
			</button>
			<button class="button">
				<img src="/img/photo_bloger.png" alt="photo bloger" width="24px" height="24px">
			</button>

		</div> --}}


	{{!-- <h1 class="blog__title">
		Мій блог
	</h1> --}}
	
	{{!-- <section class="blog__main">

		<div class="blog__section button">
			<div class="blog__section-header">
				<div class="blog__section-category">
					<span class="blog__section__list blog__section__list--1"> Важливо</span>
					<span class="blog__section__list blog__section__list--2"> Нова</span>
				</div>
				<span class="blog__section-date">
					25/01
				</span>
			</div>
			<p class="blog__section-text">
				До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
			</p>
		</div>

		<div class="blog__section button blog--viewed">
			<div class="blog__section-header">
				<div class="blog__section-category">
					<span class="blog__section__list blog__section__list--1"> Важливо</span>
					
				</div>
				<span class="blog__section-date">
					15/01
				</span>
			</div>
			<p class="blog__section-text">
				Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак самопрезентацій.
			</p>
		</div>
	</section> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}